
body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    color: teal;
    background-color: white;
    z-index: 1;
    position: relative;
    border-radius: 0 0 85% 85% / 10%;

}
body > header h1 {
    font-family: 'Crimson' Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    border: 2px solid teal;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 50%;
    /* background-color: red; */
}

@media (min-width: 977px) {
    body > header > h1 {
        max-width: fit-content;
        min-width: fit-content;
        margin-left: 3.5%;
        border: 2px solid white;
        color: white;
    }
    body > header {
        background-color: unset;
    }
}

.masthead {
    background: -webkit-linear-gradient(bottom right, #D9DAD9, #020202);
    background: -moz-linear-gradient(bottom right, #D9DAD9, #020202);
    background: linear-gradient(to top left, #D9DAD9, #020202);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    padding-block-start: 150px;
    padding-block-end: 150px;
    top: -115px;
    position: relative;
    /* border-radius: 0 0 85% 85% / 10%; */
}