@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,bold&display=swap');

.navigation__list {
    list-style: none;
    padding: 0;
    text-align: center;
    position: relative;
    /* top: 8rem; */
}


.navigation__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: teal;
}
.navigation__item:last-child a {
    padding-inline-end: 0;
}
.navigation__item {
    border-bottom: 1px solid white;
}
.navigation__link {
    padding: 1.25rem;
    background-image: none;
    line-height: 1.25rem;
    background-position: 1rem 50%;
    text-decoration: none;
    display: block;
}

.navigation {
    padding: 1rem;
    position: absolute;
    z-index: 3;
    top: -10px;
    right: 0;
    bottom: 0;
    height: auto;
    display: none;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    transition: transform 1s;
    background-color: #f8f8f8;
    box-shadow: -3px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
    
.open_menu:checked ~ .navigation {
    transform: translateY(22%);
    top: 20px;
    display: block;
}
  
    
.open_menu:checked ~ label {
z-index: 2;
right: 0;
height: 25px;
width: 25px;
background-image: url(../images/cross.svg);
}
  
.navigation label {
width: 250px;
display: block;
height: 30px;
}
.open_menu {
    display: none;
}

.navigation > label, body > header > label {
width: 28px;
height: 28px;
background-size: 28px;
background-repeat: no-repeat;
position: relative;
}
body > header > label {
    background-image: url(../images/menu.svg);
}

.navigation > label {
    margin-left: auto;
}
.navigation > label {
	transition: rotate 1s;
}

.navigation > label:hover {
    background-color: red;
    border-radius: 50%;
    rotate: 360deg;
}

@media (min-width: 977px) {
body > header label {
    display: none;
    }
    .navigation {
    display: block;
    padding: 0;
    background-color: transparent;
    top: 7px;
    left: 0;
    right: 0;
    bottom: auto;
    max-width: 90%;
    min-width: 90%;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    margin: auto;
    }
    .navigation label {
    display: none;
    }
    .navigation__list {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    max-width: unset;
    min-width: unset;
    margin: unset;
    position: unset;
    top: unset;
    }
    .navigation__item {
        border: unset;
    }
    .navigation__link {
        color: white;
    }

}