@import url('https://fonts.googleapis.com/css?family=Pro:200,300,400,500,bold&display=swap');


body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    color: white;
    background-color: teal;

}
body > header > h1 {
    font-family: 'Crimson' Pro;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 8px;
}