@import url('https://fonts.googleapis.com/css?family=Pro:200,300,400,500,bold&display=swap');


body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    color: teal;
    background-color: white;
    z-index: 1;
    position: relative;
    border-radius: 0 0 85% 85% / 10%;

}
body > header h1 {
    font-family: 'Crimson' Pro;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    border: 2px solid teal;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 50%;
    /* background-color: red; */
}

@media (min-width: 977px) {
    body > header > h1 {
        max-width: fit-content;
        min-width: fit-content;
        margin-left: 3.5%;
        border: 2px solid white;
        color: white;
    }
    body > header {
        background-color: unset;
    }
}

.masthead {
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%,
    rgba(25, 158, 158, 0.3) 0%, rgb(0,128,128, 0.2) 73.22%, rgb(0,128,128, 0.3)), 
     url(./images/jerome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    padding-block-start: 150px;
    padding-block-end: 150px;
    top: -115px;
    position: relative;
    border-radius: 0 0 85% 85% / 10%;
}