
body {
    margin: 0;
    padding: 0;
}
/* body > header {
    display: flex;
    background-color: white;
    max-width: 90%;
    min-width: 90%;
    margin: auto;
} */
/* header > h1 {
    background: white;
    color: teal;
    margin: 0;
} */

/* header > nav {
    max-width: 70%;
    min-width: 70%;
    background-color: rgb(2, 170, 170);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
    margin-left: auto;
} */

/* header > nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    
    justify-content: space-between;
    text-transform: uppercase;
    margin-left: 4rem;
    margin-right: 4rem;
}

header > nav > ul a {
    text-decoration: none;
    color: white;
} */